body {
    padding: 0;
    margin: 0;
    background: #f2f6e9;
}

.navbar {
    top: 0%;
    width: 100%;
    background:#333333;
}

.nav-link,
.navbar-brand {
    color: #fff;
    cursor: pointer;
}

.nav-link {
    text-align: center;
    margin-right: 2em !important;
}

.nav-link:hover {
    color: #000;
}

.navbar-collapse {
    justify-content: flex-end;
}

.header {
    background-image: url('../Images/BG.jpg');
    position: relative;
    background-size: cover;
    background-position: center;
}
.Title h2 {
    color: #161616;
    left: 50%;
    position: absolute;
    top: 10%;
    transform: translate(-50%, -55%);
    text-align: center;
    /*font-size: 500%;*/
}
.description {
    left: 50%;
    position: absolute;
    top: 45%;
    transform: translate(-50%, -55%);
    text-align: center;
}

.description h1 {
    font-size: 4rem;
    color: #161616;
}

.description b {    
    color: #fff;
    font-size: 1.5rem;
    line-height: 1.5;
}
.Me {
    width: 50%;
    top: 28%;
    left: 10%;
    display: block;
    position: absolute;   
}

.CVimg{
    width: 30%;
    border: 3px solid #555;
    border-radius: 25px;
}


}